[Unit]
Description="Xbox One Controller udev campanion service #%i""
After=bluetooth.target

[Service]
ExecStart=/usr/local/bin/Xbox_One_Wireless_Controller_Xboxdrv.sh /dev/input/%i
KillMode=mixed
