[Unit]
Description="Nintendo Switch Pro Controller udev campanion service #%i""
After=bluetooth.target

[Service]
ExecStart=/opt/Retropie_repos/controller-setup/xboxdrv-scripts/xboxdrv-Nintendo_Switch_Pro_Controller_Xboxdrv.sh /dev/input/%i
KillMode=mixed
