[Unit]
Description="Xbox 360 Wireless Receiver udev campanion service #%i""
##After=bluetooth.target

[Service]
ExecStart=/usr/local/bin/Xbox_360_Wireless_Receiver_Xboxdrv.sh /dev/input/%i
KillMode=mixed
