## Make the Device invisible to the normal retropie user "sven"
## To accomplish this we restrict the access to the device files to "root"
## This is done by adjusting the access right to 600 upton it creation.
ACTION=="add", \
ATTRS{name}=="Sony PLAYSTATION(R)3 Controller", \
KERNEL=="event*|js*", \
SUBSYSTEM=="input", \
RUN+="/bin/bash -c 'chmod 600 /dev/input/$kernel'"

## Start Xboxdrv when the Pad is connected.
ACTION=="add", \
ATTRS{name}=="Sony PLAYSTATION(R)3 Controller", \
KERNEL=="event*", \
SUBSYSTEM=="input", \
TAG+="systemd", \
ENV{SYSTEMD_WANTS}="Playstation_Dualshock_3_Controller_Xboxdrv@$kernel"

## Kill the Xboxdrv upton removal of the Pad.
ACTION=="remove", \
ATTRS{name}=="Sony PLAYSTATION(R)3 Controller", \
KERNEL=="event*", \
SUBSYSTEM=="input", \
RUN+="/bin/systemctl stop Playstation_Dualshock_3_Controller_Xboxdrv@$kernel"
