## Make the Device invisible to the normal retropie user "sven"
## To accomplish this we restrict the access to the device files to "root"
## This is done by adjusting the access right to 600 upton it creation.
ACTION=="add", \
ATTRS{name}=="Pro Controller", \
KERNEL=="event*|js*", \
SUBSYSTEM=="input", \
RUN+="/bin/bash -c 'echo $kernel >> /root/testfile'", \
RUN+="/bin/bash -c 'chmod 600 /dev/input/$kernel'"

## Start Xboxdrv when the Pad is connected.
ACTION=="add", \
ATTRS{name}=="Pro Controller", \
KERNEL=="event*", \
SUBSYSTEM=="input", \
TAG+="systemd", \
ENV{SYSTEMD_WANTS}="xboxdrv-Nintendo_Switch_Pro_Controller_Xboxdrv@$kernel"

#RUN+="/bin/bash -c 'echo $kernel >> /root/testfile'", \

## Kill the Xboxdrv upton removal of the Pad.
ACTION=="remove", \
ATTRS{name}=="Pro Controller", \
KERNEL=="event*", \
SUBSYSTEM=="input", \
RUN+="/bin/systemctl stop xboxdrv-Nintendo_Switch_Pro_Controller_Xboxdrv@$kernel"


#RUN+="/bin/bash -c 'echo $kernel >> /root/testfile'", \
