[Unit]
Description="Playstation Dualshock 3 Controller udev campanion service #%i""
After=bluetooth.target

[Service]
ExecStart=/usr/local/bin/Playstation_Dualshock_3_Controller_Xboxdrv.sh /dev/input/%i
KillMode=mixed
